.lunch-item{
    text-align: center;
    margin: 30px;
    float: left;
    height: 350px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.lunch-item:hover{
    box-shadow: 1px 1px 10px rgb(190, 186, 186);
    
}
.lunch-item img{
    height: 200px;
    width: 200px;
}
.lunch-item a{
    text-decoration: none;
    color:black;
}